.about {
    margin-top: 10px 20px;
}

.about--title {
    text-align: center;
    font-size: 1.6rem;
    color: var(--color-group-main);
    position: relative;
    padding-bottom: 15px;
    margin-top: 10px;
}

.about--title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom: 3px solid #f00;
    width: 100px;
}

.about-text {
    font-size: 1.2rem;
}

.images-about {
    margin: 20px 0;
    width: 840px;
}

.table-about {
    width: 361px;
    height: 300px;
    background-color: #f2f2f2;
    margin-top: 10px;
    border-radius: 10px;
}

.list-active {
    background-color: #3ac2bd;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}

.about-list {
    color: #3ac2bd;
    font-size: 1.2rem;
}

.about-item {
    margin: 10px;
}

.item-link {
    color: #3ac2bd;
    text-decoration: none;
}