:root {
    --color-group-main: #0175D8;
    --font-size-text: 1.3rem;
    --font-size-main: 2.4rem;
    --font-size-primary: #E20200;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, Tahoma, sans-serif;
}

nav #navbar_top {
    display: block;
    background-color: #3ac2bd;
}


/* back to top */

#back-to-top {
    line-height: 29px;
    width: 35px;
    height: 35px;
    font-size: 21px;
    transition: .3s;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 12;
    color: #ff1654;
    box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid;
    border-color: #ff1654;
    text-align: center;
    cursor: pointer;
    display: none;
}

#back-to-top:hover {
    color: #fff;
    background: #ff1654;
    border-color: #ff1654;
}


/* Chatbox*/


/* Nút Để Mở Chatbox */

.nut-mo-chatbox {
    background-color: #3ac2bd;
    border-radius: 10px;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    left: 28px;
    width: 280px;
}


/* Ẩn chatbox mặc định */

.Chatbox {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Thêm style cho form */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* thiết lập style textarea */

.form-container textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 100px;
}


/*thiết lập style cho textarea khi được focus */

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}


/* Sthiết lập style cho nút trong form*/

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Thiết lập màu nền cho nút đóng chatbox */

.form-container .nut-dong-chatbox {
    background-color: red;
}


/* Thêm hiệu ứng hover cho nút*/

.form-container .btn:hover,
.nut-mo-chatbox:hover {
    opacity: 1;
}